{% extends "template.html.twig" %}

{% block section %}

<section class="forme">
	<h1>Back Office</h1>
	<div id="menu_square_top">
		<a href="admin_utilisateurs.php">
			<div class="menu_square">
			Utilisateurs
			</div>
		</a>
		<a href="admin_clubs.php">
			<div class="menu_square">
				Clubs
			</div>
		</a>
		<a href="admin_events.php">
			<div class="menu_square">
				Evènements
			</div>
		</a>
		<a href="admin_comments.php">
			<div class="menu_square">
				Commentaires
			</div>
		</a>
		<a href="admin_articles.php">
			<div class="menu_square">
				Articles
			</div>
		</a>
	</div>
</section>


{% endblock %}