@import "_mixins.scss";

//Couleurs de base
/*----------------------------------------*/


$colors: (
	color1: #FFAF44, //lightorange 
	color2: #AA2E00,  //darkorange
	color3: #0C5574, //darkblue
	lightgrey: #f2f2f2,
	background: #fff7ed,
	background2: #e2d4c0,
	text: #323232
);


@function lighten-color($color) { 
 	@return lighten( $color, 10% ); 
}
/*----------------------------------------*/

//Polices

@import url('https://fonts.googleapis.com/css?family=Caveat|Montserrat:400,500,500i,900');
/*----------------------------------------*/
$font-logo: Caveat;
$font-general: Montserrat;
/*----------------------------------------*/
$fonts: (
	general: ($font-general, sans-serif),
	h1: (3em $font-general, sans-serif),
	text: (1em 500 $font-general, sans-serif),
	logo: (3em $font-logo, sans-serif),
	h2: (2em $font-general, sans-serif),
	h3: (1.3em $font-general, sans-serif)
	)

//Images
/*----------------------------------------*/
//$bcg-image: url("images/website/bcg.jpg");
/*----------------------------------------*/