/*----------------------------------------*/
/*----------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Caveat|Montserrat:400,500,500i,900");
/*----------------------------------------*/
/*----------------------------------------*/
/*--------------- PAGE INDEX -----------------------*/
html {
  height: 100%;
  box-sizing: border-box; }

body {
  position: relative;
  margin: 0;
  min-height: 100%;
  padding-bottom: 300px; }

#mobile_menu {
  display: none; }

header {
  width: 100%; }
  header h1 {
    padding-top: 40vh;
    color: white; }
  header form {
    position: absolute;
    top: 54vh;
    left: 40%; }

.menu_BO {
  left: 70px; }

/*---------------NAVIGATION TOP -----------------------*/
#logo {
  font: 3em Caveat, sans-serif;
  text-decoration: none;
  color: #AA2E00;
  position: fixed;
  padding-top: 0.1em;
  padding-left: 1em;
  z-index: 6;
  left: 0; }

.nav {
  position: fixed;
  width: 100vw;
  height: 80px;
  z-index: 5;
  background-color: white;
  box-shadow: 3px 3px 5px rgba(150, 150, 150, 0.1);
  font-size: 1.2em;
  /*----------user menu---------------*/ }
  .nav > div {
    float: right;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 20px; }
    .nav > div div {
      float: right;
      margin-right: 1em;
      margin-left: 1em; }
  .nav li {
    display: inline;
    float: right;
    margin-right: 30px; }
    .nav li a {
      text-decoration: none;
      color: #AA2E00;
      text-transform: uppercase; }
    .nav li a:hover {
      border-bottom: 1px solid #FFAF44; }
  .nav #connexion {
    text-decoration: none;
    color: #AA2E00;
    text-transform: uppercase; }
    .nav #connexion:hover {
      border-bottom: 1px solid #FFAF44; }
  .nav .active {
    border-bottom: 1px solid #AA2E00; }
  .nav #user_icon {
    position: relative;
    top: -20px; }
  .nav .user_menu {
    background-color: #e2d4c0;
    color: black;
    width: 10em;
    position: absolute;
    padding: 1em;
    top: 2.6em;
    right: -6em;
    display: none;
    box-shadow: 3px 3px 5px rgba(150, 150, 150, 0.1);
    border-radius: 5px; }
    .nav .user_menu a {
      display: block;
      text-decoration: none;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      width: 12em;
      text-align: center;
      position: relative;
      right: 1em; }
    .nav .user_menu .menu_deco {
      border-bottom: 17px solid #e2d4c0;
      border-left: 17px solid transparent;
      border-right: 17px solid transparent;
      width: 0;
      height: 0;
      position: absolute;
      top: -0.9em;
      left: 3.9em; }
    .nav .user_menu #username {
      width: 10em;
      height: 1em;
      display: block;
      padding: 0.5em;
      padding-left: 1em;
      padding-right: 1em;
      position: relative;
      border-bottom: 1px solid #fff7ed;
      left: -1em;
      top: -1em;
      text-align: center;
      z-index: 2; }
  .nav #lang div:first-child {
    border-bottom: 1px solid white; }
  .nav #lang div:active {
    background-color: #0C5574; }

.nav-scroll {
  background-color: transparent !important;
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  box-shadow: none; }
  .nav-scroll * {
    color: white !important;
    background-color: transparent !important; }
  .nav-scroll .menu > div > div {
    border: 1px solid white; }
  .nav-scroll .menu_deco {
    border-bottom: 17px solid #f2f2f2 !important;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    width: 0;
    height: 0; }
  .nav-scroll #username {
    background-color: #f2f2f2 !important;
    color: black !important; }

body section:first-of-type {
  padding-top: 80px; }

/*effet hover sur le menu */
.m_hover:hover {
  background-color: #f2f2f2 !important;
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  color: black !important; }

/*-----------------------------------------------*/
.row {
  padding-left: 5%;
  display: flex;
  height: 60vh;
  margin-top: 10vh;
  margin-bottom: 10vh; }
  .row .col-3 {
    width: 30vw; }
    .row .col-3 img {
      width: 10vw;
      display: block;
      margin-left: auto;
      margin-right: auto; }
  .row span {
    display: block;
    font: 2em Montserrat, sans-serif;
    color: #0C5574;
    text-align: center;
    padding: 3em; }

/**/
.colored img {
  float: left;
  width: 40vw; }
.colored div {
  width: 30vw;
  margin-left: 2em;
  float: left; }

/*---------------------------------------------------*/
footer {
  right: 0;
  bottom: 0;
  left: 0;
  height: 35vh;
  min-height: 250px;
  position: absolute;
  background-color: white; }

#contact_form {
  display: none; }

#recherche {
  height: 100vh; }

/*-------------------------------------------------------*/
/*MAP*/
#map {
  width: 100%;
  height: 90vh;
  margin: auto; }

/*-------------------------------------------------------*/
/*RECHERCHE ET FILTRES*/
.result_paneau {
  /*paneau d'affichage des filtres */
  position: absolute;
  z-index: 1;
  background-color: white;
  width: 380px;
  height: 90vh;
  overflow-x: hidden;
  box-shadow: 3px 3px 2px grey; }
  .result_paneau form {
    margin: 1em; }
  .result_paneau #filtres div {
    margin-top: 1em;
    margin-bottom: 1em; }
  .result_paneau #filtres span {
    /*sections des filtres*/
    display: block;
    background-color: #FFAF44;
    color: #323232;
    width: 105%;
    padding: 1em;
    position: relative;
    cursor: pointer; }
  .result_paneau #liste > div {
    border-bottom: 1px solid #f2f2f2;
    padding-left: 1em; }
  .result_paneau #liste > div:hover {
    background-color: #f2f2f2; }
  .result_paneau #liste h3 {
    margin: 0; }
  .result_paneau #liste .club_icon {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: white;
    margin: 0.5em;
    float: left; }

#make_smaller {
  /*button pour reduire le paneau des filtres*/
  position: absolute;
  z-index: 3;
  left: 385px;
  top: 140px;
  width: 1em;
  height: 2.2em;
  background-color: white;
  padding-top: 0.8em;
  padding-left: 0.3em;
  box-shadow: 3px 3px 2px grey; }
  #make_smaller div {
    border-bottom: 12px solid transparent;
    border-top: 12px solid #AA2E00;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    transform: rotate(90deg);
    width: 0;
    height: 0;
    margin-left: -0.9em; }

#searchbox {
  margin: 1em;
  margin-bottom: 2em;
  width: 320px; }

.content {
  width: 90vw;
  margin: auto;
  height: auto; }

.head_img {
  width: 100vw;
  height: 60vh;
  background-size: 100vw;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; }

/*--------------- Diaporama en fenetre modal -----------------------*/
#diaporama {
  width: 100vw;
  height: 100vh;
  background-color: rgba(2, 0, 0, 0.9);
  z-index: 5;
  position: fixed;
  top: 0;
  display: none; }
  #diaporama div {
    width: 60vw;
    margin: auto; }
  #diaporama img {
    max-width: 60vw;
    max-height: 80vh;
    display: none;
    margin: auto; }
  #diaporama .arrows {
    width: 99vw;
    height: 10vh;
    position: relative;
    padding: 2em;
    top: 0; }
    #diaporama .arrows .arrow_left {
      border-bottom: 30px solid transparent;
      border-top: 30px solid white;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      transform: rotate(90deg);
      width: 0;
      height: 0;
      position: absolute;
      left: 45vw;
      z-index: 5; }
    #diaporama .arrows .arrow_right {
      border-bottom: 30px solid transparent;
      border-top: 30px solid white;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      transform: rotate(270deg);
      width: 0;
      height: 0;
      position: absolute;
      left: 55vw;
      z-index: 5; }

#fermer {
  cursor: pointer;
  position: absolute;
  padding: 1em;
  font-size: 3em;
  color: white;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 1em;
  z-index: 5; }

.slideshowactive {
  z-index: 9;
  display: block !important; }

/*--------------- PAGE CLUB -----------------------*/
.revenir {
  margin-top: 3em; }

.left {
  width: 47vw;
  display: table-cell;
  vertical-align: top; }

.right {
  width: 46vw;
  display: table-cell;
  padding-left: 2vw; }
  .right img:first-of-type {
    max-width: 47vw;
    position: sticky;
    top: 100px;
    cursor: pointer; }
  .right img:nth-of-type(2), .right img:nth-of-type(3),
  .right img:nth-of-type(4), .right img:nth-of-type(5) {
    display: none; }

.bordered {
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin: 0.5em;
  width: 30%; }

/*commentaires*/
.comments {
  height: auto;
  float: left; }
  .comments .user_icon {
    float: left;
    margin-left: 1em;
    margin-right: 1em; }
  .comments h3 {
    display: block;
    margin-left: 1em;
    margin-top: 0.5em; }
  .comments h3::after {
    clear: both; }
  .comments > div {
    border-radius: 10px;
    border: 1px solid lightgrey;
    padding: 1em;
    margin: 0.5em;
    float: left;
    background-color: white;
    width: 40vw; }
    .comments > div p {
      font-size: 1.1em;
      margin-top: 1em;
      margin-bottom: 1em;
      line-height: 1.5em; }

.enfant {
  margin-left: 4em !important;
  width: 35.5vw !important; }

/*---------------BACK OFFICE -----------------------*/
/*--------------------------------------------*/
.map_titre {
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  font-size: 1.5em;
  margin-bottom: 2em; }

/*------------------------ FORMES ET FORMULAIRES -----------------------*/
.forme {
  width: 70vw;
  min-width: 700px;
  margin: auto; }
  .forme h1 {
    text-align: center;
    margin-top: 1em; }

.edit_club {
  background-color: #fff7ed;
  border-radius: 20px;
  padding: 3em; }
  .edit_club > div {
    background-color: white;
    vertical-align: middle;
    padding: 2em;
    border-radius: 15px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    position: relative;
    margin: auto;
    width: 50%;
    min-width: 500px;
    margin-bottom: 2em; }
    .edit_club > div input[name="name"],
    .edit_club > div input[type="text"],
    .edit_club > div input[type="password"] {
      width: 22em;
      min-width: 20em;
      margin-top: 1.5em; }
    .edit_club > div > div {
      width: 22em;
      margin: auto; }
  .edit_club input[type="submit"], .edit_club input[type="button"] {
    margin: auto;
    margin-top: 1em; }

.in_middle {
  margin: auto;
  width: 100px;
  display: flex;
  margin-top: 2em;
  margin-bottom: -1em; }

/*---------------BO: tables -----------------------*/
table {
  width: 100%;
  margin-bottom: 5em; }
  table th {
    font-weight: 500;
    padding: 1em; }
  table td {
    padding: 1em; }
  table tr:nth-child(2n) {
    background-color: lightgrey; }

.office {
  width: 80vw;
  margin: auto; }

.club_item {
  width: 25vw;
  height: 35vh;
  min-height: 15em;
  background-color: white;
  margin: 1em;
  float: left;
  box-shadow: 3px 3px 5px rgba(150, 150, 150, 0.1);
  position: relative;
  background-size: 26vw;
  background-position: center; }
  .club_item div {
    background-color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 1em; }
    .club_item div h4 {
      margin-left: 1em; }
    .club_item div .btn_blue, .club_item div .btn-empty {
      float: left;
      margin-left: 2em;
      width: 150px; }

.club_item:hover {
  background-size: 25.5vw;
  -webkit-transition: background-size 500ms linear;
  -ms-transition: background-size 500ms linear;
  transition: background-size 500ms linear; }
