@import "_valeursGlobales.scss";
/*--------------- PAGE INDEX -----------------------*/
html {
  height: 100%;
  box-sizing: border-box;
}

 body {
 	 position: relative;
 	 margin: 0;
 	 min-height: 100%;
 	 padding-bottom:300px;
 }

#mobile_menu {display: none;}

/*search box de la page index*/
header {width: 100%;
	h1 {
		padding-top: 40vh;
		color: white;
	}
	form {	
		margin-left: auto;
    	margin-right: auto;
    	width: 32em;
		input {
			margin: 0!important;
			margin-left: 1em!important;
		}	
	}
}

.menu_BO {
left: 70px;
}


p {margin-top: 2em;
	margin-bottom: 2em;
}
.bigger {font-size:1.3em;
}
.lower {padding-top:5%;}
/*---------------NAVIGATION TOP -----------------------*/
#logo {font: map-get($fonts, logo);
			text-decoration: none;
			color: map-get($colors, color2);
			position: fixed;
			padding-top: 0.1em;
			padding-left: 1em;
			z-index: 6;
			left: 0;
	}

.nav {

	position: fixed;
	width: 100vw;
	height: 80px;
	z-index: 5;
	background-color: white;
	color: map-get($colors, lightblue);
	box-shadow: 3px 3px 5px rgba(150, 150, 150, 0.1);
	font-size: 1.2em;
	& > div { float: right;
		margin-top: 30px;
		margin-left: 30px;
		margin-right: 20px;
			div { float: right;
				margin-right: 1em;
				margin-left: 1em;
	}}
	li { //navigation
		display: inline;
		float: right;
		margin-right: 30px;
		a {text-decoration: none;
			color: map-get($colors, color2);
			text-transform: uppercase;
		}
		a:hover {border-bottom: 1px solid map-get($colors, color1);
		}
	}
	#connexion { text-decoration: none;
		color: map-get($colors, color2);
			text-transform: uppercase; 
			&:hover {border-bottom: 1px solid map-get($colors, color1);
			}
		};

	.active {border-bottom: 1px solid map-get($colors, color2);
		}

	
	#user_icon {
			position: relative;
			top: -20px;
					}
/*----------user menu---------------*/
	.user_menu {
		background-color: (map-get($colors, background2));
		color: black;
		width: 10em;
		position: absolute;
		padding: 1em;
		top: 2.6em;
		right: -6em;
		display: none;
		box-shadow: 3px 3px 5px rgba(150, 150, 150, 0.1);
		border-radius: 5px;
		border: 1px solid white;
		a {
			display: block;
			text-decoration: none;
			padding-top: 0.5em;
			padding-bottom: 0.5em;
			width: 12em;
			text-align: center;
			position: relative;
			right: 1em;
		}
		.menu_deco {
		@include arrow(up, 17px, map-get($colors, background2));
	  	position: absolute;
	  	top: -0.9em;
	  	left: 3.9em;
		}
		#username { 
			width: 10em;
			height: 1em;
			display: block;
			padding: 0.5em;
			padding-left: 1em;
			padding-right: 1em;
			position: relative;
			border-bottom: 1px solid map-get($colors, background);
			left: -1em;
			top: -1em;
			text-align: center;
			z-index: 2;


		}
	}
	#lang {
		div:first-child {border-bottom: 1px solid white; }
		div:active {background-color: map-get($colors, color3);}
	}
}


.nav-scroll {
	background-color: transparent!important;
	@include transition(background-color, 200ms);
	box-shadow: none;
	* {color:white!important;
		background-color: transparent!important;
	}
	.menu>div>div {border: 1px solid white;}
	.menu_deco { 
		@include arrow(up, 17px, map-get($colors, lightgrey)!important);
	  }
	  #username {
	  	background-color: map-get($colors, lightgrey)!important;
	  	color: black!important;
	  }
}

body section:first-of-type {
	padding-top: 80px;
}

/*effet hover sur le menu */
.m_hover:hover {
	background-color: map-get($colors, lightgrey)!important;
	@include transition(background-color, 200ms);
	color: black!important;
}
/*-----------------------------------------------*/
#club { width: 20em;}

.row {
	padding-left: 5%;
	display: flex;
	height: 60vh;
	margin-top: 10vh;
	a {text-decoration: none;}
	.col-3 {width: 30vw;
		img {
			width: 12vw;
			display: block;
		    margin-left: auto;
		    margin-right: auto;
		}
	}
	span {
		display: block;
		font: map-get($fonts, h3);
		color: map-get($colors, color3);
		text-align: center;
		padding: 3em; 
	}
}
/*--------------------------recherche liste ----------------------*/
#clubs, #events0, #inscrire {padding-top:100px;}
#events0, #clubs {padding-bottom: 10vh;}


.decouvrir {
	height: auto;
	img {float:left;
		width: 60vw;
	}
	div { width: 30vw;
		margin-left: 2em;
		margin-top: 2em;
		float: left;
	}
}

.coeur {/*section coup de coeur*/
	margin-top: 10vh;
	margin-bottom: 10vh;
	height: auto;
	#h {width: 50px;}
	div {
		width:50vw;
		height: 50vh;
		float: right;
		img {max-height: 45vh;}
	
}
}
#savoir {cursor: pointer;
		text-decoration: underline;
}
label[for="normal"],
label[for="pro"]
 {
	img {width: 5em;}
}

.choix {width: 100%;
	display: table;
	margin:-1em;
	margin-bottom: 1em;
	a {margin: auto;}
}
#liste1, #liste2 {
	background-color: map-get($colors, background2);
	width: 50%;
	display: table-cell;
	padding: 0.5em;
	cursor: pointer;
}
#liste1 { background-color: lightblue; }
.liste_clubs {
	h3 {width: 100%;}
}
.liste_events {display: none;}

	#liste {
			&>div {
				border-bottom: 1px solid grey;
				padding-left: 1em;
				padding-top: 0.5em;
				padding-bottom: 0.5em;
			}
			div:last-of-type {
				margin-left: 3.5em;
			}
			span {
				font-size: 0.9em;
			}
			&>div:hover {
				background-color: map-get($colors, lightgrey);
			}
			h3 { margin: 0;}
			.club_icon {
				@include icon;
				float: left;
			}
			.heart_icon {
				z-index: 9;
			}
	}


/*---------------------------------------------------*/

footer {
	right: 0;
  	bottom: 0;
  	left: 0;
	height: 35vh;
	min-height: 250px;
	position: absolute;
	background-color: white;
}

#contact_form {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	Height: 100vh;
	z-index: 9;
	overflow: hidden;
	background-color: rgba(2, 0, 0, 0.9);
	form {
		position: relative;
		background-color: map-get($colors, background);
		width: 50vw;
		margin: auto;
		margin-top: 10vh;
		max-height: 70vh;
		border-radius: 10px;
		padding: 3em;
	}
}

#recherche {
	height: 100vh;
}


/*-------------------------------------------------------*/
/*MAP*/

#map {
	width: 100%;
	height: 90vh;
	margin: auto;
}

/*-------------------------------------------------------*/
/*RECHERCHE ET FILTRES*/

.result_paneau { /*paneau d'affichage des filtres */
	position: absolute;
	z-index: 1;
	background-color: map-get($colors, background);
	width: 380px;
	height: 90vh;
	overflow-x: hidden;
	box-shadow: 3px 3px 2px grey;
	form {margin: 1em;}

	#filtres {
		div {margin-top: 1em;
			margin-bottom: 1em;
		}
		&>span {/*sections des filtres*/
			display: block;
			background-color: map-get($colors, background2);
			color: map-get($colors, text);
			width: 100%;
			padding: 0.5em;
			position: relative;
			cursor: pointer;
			border-bottom: 1px solid grey;
		}
		.arrow_show {
			@include arrow(down, 10px, map-get($colors, text));
			float: right;
			margin-right: 2em;
			margin-top: 0.5em;
			
		}
	}
	#search_btn1 { margin: auto;
					margin-top: 1em;
					margin-bottom: 1em;
	}
}

#make_smaller {/*button pour reduire le paneau des filtres*/
		position: absolute;
		z-index: 3;
		left: 385px;
		top: 140px;
		width: 1em;
		height:2.2em;
		background-color: white;
		padding-top: 0.8em;
		padding-left: 0.3em;
		box-shadow: 3px 3px 2px grey;
		div {
			@include arrow (left, 12px, map-get($colors, color2));
			margin-left: -0.9em;
		}
	}

#searchbox {
	margin: 1em;
	margin-bottom: 2em;
	width: 320px;
}


.head_img {width: 100vw;
		height: 60vh;
		background-size: 100vw;
		background-attachment: fixed;
		background-repeat: no-repeat;
    	background-attachment: fixed;
    	background-position: center; 
}

/*--------------- Diaporama en fenetre modal -----------------------*/
#diaporama {
	width: 100vw;
	height: 100vh;
	background-color: rgba(2, 0, 0, 0.9);
	z-index: 5;
	position: fixed;
	top:0;
	display: none;
	div {
		width: 60vw;
		margin: auto;
	}
	img {max-width: 60vw;
		max-height: 80vh;
		display: none;
		margin: auto;
	}
	.arrows {
		width: 99vw;
		height: 10vh;
		position: relative;
		padding: 2em;
		top:0;
		.arrow_left {
			@include arrow(left, 30px, white);
			position: absolute;
			left: 45vw;
			z-index:5;
			}
		.arrow_right {
			@include arrow(right, 30px, white);
			position: absolute;
			left: 55vw;
			z-index:5;
			}
	}
}

		#fermer {
			cursor: pointer;
			position: absolute;
			padding: 1em;
			font-size: 3em;
			color: white;
			position: absolute;
			right: 0;
			top: 0;
			margin-right: 1em;
			z-index:5;
		}

.slideshowactive {
	z-index: 9;
	display: block!important;
}

/*--------------- PAGE CLUB -----------------------*/

.left {width: 47vw;
	//background-color: green;
	display: table-cell;
	vertical-align: top;
}

.btn_photos {
	position: absolute;
	z-index: 8;
	padding: 0.5em;
	width: 8em;
	right: 0;
	margin:  1em;
	background-color: white;
	padding: 1em;
}

.right {width: 46vw;
	display: table-cell;
	padding-left: 2vw;
	position: relative;
	top: 100px;
	div {
		max-width: 47vw;
		position: sticky;
		top: 100px;
		cursor: pointer;
		span {z-index:1;}
		img {max-width: 46vw;

		}
	}
	img:nth-of-type(2), img:nth-of-type(3), 
	img:nth-of-type(4), img:nth-of-type(5) 
	 { display: none; 
	 }

}

.bordered {
	padding: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
	margin: 0.5em;
}


/*commentaires*/
.comments {height: auto;
float: left;
margin-top: 2em;
.user_icon {float: left;
	margin-left: 1em;
	margin-right: 1em;
}
h3 {display: block;
	margin-left: 1em;
	margin-top: 0.5em;
}
h3::after {
   clear: both;
}
 & > div { /*nouveau commentaire inclu */
	@include comment;
	width: 40vw;
	p {font-size: 1.1em;
		margin-top: 1em;
		margin-bottom: 1em;
		line-height:  1.5em;
	}
	div {
		margin-left: 2.8em;
	}
	}
}

.enfant { margin-left: 4em!important;
		width: 35.5vw!important;
}


/*---------------BACK OFFICE -----------------------*/
/*--------------------------------------------*/





.map_titre {
	font-family: map-get($fonts, general);
	text-transform: uppercase;
	font-size: 1.5em;
	margin-bottom: 2em;
}


/*------------------------ FORMES ET FORMULAIRES -----------------------*/


 .forme {
	width: 70vw;
	min-width: 700px;
	margin: auto;
	h1 {text-align: center;
		margin-top: 1em;
	}
}

.row1 {
	margin:auto;
	text-align: center;
	margin: auto;
}

.column3 {
	background-color: white;
	border-radius: 20px;
	padding: 1em;
	box-shadow: 3px 3px 2px lightgrey;
	border: 1px solid lightgrey;
	width: 30%;
	margin: 0.5em!important;
	display: table-cell;
}

#msg_success {
	width: 100vw;
	height: 100vh;
	background-color: rgba(150, 150, 150, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
	div {
	background-color: white;
	border-radius: 20px;
	padding: 1em;
	border: 1px solid lightgrey;
	top: 40vh;
	text-align: center;
	font-size: 1.2em;
	width: 30vw;
	margin: auto;

}}

.edit_club {

	background-color: map-get($colors, background);
	border-radius: 20px;
	padding: 3em;
	&>div {
		@include item;
		position: relative;
		margin: auto;
		width: 60%;
		min-width: 34em;
		margin-bottom:2em;

		input[name="name"],
		input[type="text"],
		textarea,
		input[type="password"]
		 {
			width: 25em;
			min-width: 30em;
			margin-top: 1.5em;
		}

		&>div { 
			//width: 25em;
			margin: auto;
		}}
		.larger {width: 80%;}
		input[type="submit"], input[type="button"] {
			margin: auto;
			margin-top: 1em;
		}
	}

.submenu {
	position: relative;
	width: 30em!important;
	margin: auto;
	span {
			padding: 0.2em;

	}
	div {display: inline-block; }
	.current { text-decoration: underline;
				font-weight: 500;
	 }
}

.error_msg {

	position: absolute;
	right: 38em;
	background: map-get($colors, color1);
	padding: 1em;
	border-radius: 10px;
	text-align: center;
	width: 10em!important;
	div {
		@include arrow(right, 11px, map-get($colors, color1));
		position: absolute;
		top: 40%;
		left: 100%;

	}
}

.edit_flex {
	background-color: map-get($colors, background);
	border-radius: 20px;
	padding: 3em;

	&>div {
		@include item;
		float: left;
		width: 25%;
		min-width: 25em;
		margin-bottom:2em;

		input[name="name"],
		input[type="text"],
		input[type="password"]
		 {
			width: 22em;
			min-width: 20em;
			margin-top: 1.5em;
		}
		&>div { 
			width: 22em;
			margin: auto;
		}}
		input[type="submit"], input[type="button"] {
			margin: auto;
			margin-top: 1em;
		}
	}


.in_middle {
	margin: auto;	
	width: 100px;
	display: flex;
	margin-top: 2em;
	margin-bottom: -1em;
}

/*---------------BO: tables -----------------------*/

table {
	width: 100%;
	margin-bottom: 5em;
	th {
		font-weight: 500;
		padding: 1em;
	}
	td {
		padding: 1em;
	}
	tr:nth-child(2n) {
  background-color: lightgrey;
}}

.office {width: 80vw;
margin: auto;}


.club_item {
	width: 25vw;
	height: 35vh;
	min-height: 15em;
	background-color: white;
	margin: 1.5em;
	float: left;
	box-shadow: 3px 3px 5px rgba(150, 150, 150, 0.1);
	position: relative;
	background-size: 27vw;
	div {
		background-color: white;
		position: absolute;
		bottom: 0;
		width: 95%;
		padding-top: 1em;
		padding-left: 5%;
		padding-bottom: 1em;
		h4 {margin-left: 1em;}
		.btn_blue, .btn-empty {float: left;
				margin-left: 2em;
				width: 150px;

		}
	}
}


.club_item:hover {background-size: 27.5vw;
	@include transition(background-size, 500ms);
}

.content { //pour les sections du contenu, sauf pour les maps !!!
	width: 90vw;
	margin: auto;
	height: auto;
	margin-bottom: 5em;

}

