@import "reset.css";

@import "_valeursGlobales.scss";

body {
	font-size: 100%;
	font-family: map-get($fonts, general);
	background-color: map-get($colors, background);
	overflow-x: hidden;
	line-height: 1.5em;
}

/*---------------------------------------------------*/


h1 {
	font: map-get($fonts, h1);
	font-weight: 900;
	color: map-get($colors, color2);
	margin-top: 0.5em;
}

h2 {
	font: map-get($fonts, h2);
	color: map-get($colors, text);
}

h3 {
	font: map-get($fonts, h3);
	color: map-get($colors, text);
	text-transform: uppercase;
	margin-top: 1em;
	margin-bottom: 1em;
}

h4 {
	font: map-get($fonts, h3);
	text-transform: uppercase;
	font-size: 1.2em;
	color: map-get($colors, text);
	margin-bottom: 1em;
}

a {
	color: map-get($colors, color3);
	line-height: 1.5em;
}

/*---------------------decoration---------------------*/
hr {
	background-color: lightgrey;
	height: 1px;
	border-width:0;
}

.arrow {
	@include arrow(down, 35px, map-get($colors, text));
  	margin-left: 46%;
}
div {position: relative;
.arrow_comment {
	@include arrow(up, 16px, map-get($colors, text));
	position: absolute;
	top: -1em;
}}

.arrow_up {
	@include arrow(up, 35px, white);

}

.heart_icon {width: 30px;
		float:right;
}

[id^='favori'] {display:none;}
/*---------------------*/
#user_icon {
		width: 50px;
		height: 50px;
		border-radius: 25px;
		cursor: pointer;
	}

.user_icon {
		width: 50px;
		height: 50px;
		border-radius: 25px;
		background-color: white;
	}

.user_icon_big {
		width: 100px;
		height: 100px;
		border-radius: 60px;
		background-color: white;
		cursor: pointer;
	}


header {
	height: 100vh;
	width: 100%;
	background-color: map-get($colors, color3);
	background-image: url("../images/website/bcg0.jpg");
	background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
	}

#filter {
	z-index: 0;
    position: absolute;
    height:100vh;
    width:100%;
    top:0;
    left:0;
    background: rgba(12, 12, 12, 0.6);

    h1 {
    	text-align: center;
		margin-bottom: 1em; 
		font-weight: bold;
		}
	input { float: left;}
}

.star {width: 20px;}
/*---------FORMS------------------------*/

 input[type="text"], input[type="password"] {
 	@include textarea;
 	font-family: map-get($fonts, general);
 	height: 2em;
 	font-size: 1em;
 	margin-top:0.5em;
 	margin-bottom:0.5em;
 }

#msg_nom,
#msg_mdp, 
#msg_mdp1,
#msg_mail,
#msg_mail1
	{display: none;}


 textarea { 
 	@include textarea;
 	font-family: map-get($fonts, general);
 	font-size: 1em;
 	margin-top:0.5em;
 	margin-bottom:0.5em;
 	min-width: 30vw;
 	width: 50%;
 	height: 20vh;
 }
/*-----------GESTION D'UPLOAD DES IMAGES------------------*/
/*
Inspiration:
https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/
*/
label[for=file0],
label[for=file1], 
label[for=file2], 
label[for=file3],
  {
	@include square(8em);
	color: white;
	display: inline-block;
	padding: 1em;
	margin: 0.3em;
}	

.on_delete { /*utilise pour les upload des images*/
	background-size: 200px;
	position: relative;		
	&:hover {
		background-image: none!important;
		transition: background-image, 1s;
		span::after {
			content: '\002715';
			font-size: 5em;
			color: white;
			display: block;
			margin-top: 10px;
		}
	}
}

#clearfix::after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

.clearfix::after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

.input_images {
	position: relative;
	float: left;
	.image_checkbox { /**/
		position: absolute;
			width: 160px;
			height: 160px;
			left: 0;
			top: 0;
			z-index: 5;
			opacity: 0;
		&:hover + label {
		background-image: none!important;
		background-color: map-get($colors, lightblue);
		@include transition(background-color, 200ms);
		span::after {
			content: '\002715';
			font-size: 5em;
			color: white;
		}
		}}
}

	
input[name="files[]"] { 
    width: 0px;
	height: 0px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}



/*----focus manuel pour accessibilité-----*/
input[name="files[]"]:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

input[name="files[]"] + label {
	cursor: pointer; 
}



/*------------------------------------------------------------------*/


.btn {
	@include button(map-get($colors, color2));
	color: white;
	padding: 0.6em;
	width: 8em;
}

input[type="button"],
input[type="submit"] {
	@extend .btn;
	border: 0;
	margin-top: 0.2em;
	margin-left: 1em;

}

.btn-empty {
	@include button(transparent);
	border: 1px solid map-get($colors, color2);
	color: map-get($colors, color2);
	max-width: 200px;
	padding: 0.5em;
	&:hover {
		color: map-get($colors, color2)!important;
	}
}

.btn_blue {
	@include button(map-get($colors, color3));
	color: white;
	padding: 0.6em;
	width: 8em;
}


#msg {
	color: red;
	position: fixed;
	top: 80px;
	left: 40%;
}

.menu_square {
    @include square(10em);
    a {text-decoration: none;
    	color: white;
    	text-transform: uppercase;
    }
}

input[type=checkbox] {
  margin: 0.5em;
}

.colored {
	width: 100vw;
	background-color: (map-get($colors, color1));
	padding: 2em;
}

.row1 {width: 100vw;
	text-align: center;

}

.row3 {
	display: flex;
	width: 100vw;
	div {width: 30%;
		padding: 2em;
	}
}
/*--------------------------error handling------------------------------*/

.error {
	border: 3px solid map-get($colors, color1) !important;
}

#error_msg {display: none;
			color: map-get($colors, color1);
			text-align: center;
			font-size: 1.6em;
			margin-bottom: 1em;
}
.error_msg {display: none;}

.msg {color: map-get($colors, color2);
	display: block;
	text-align: center;
	padding-top: 1em;
}

.msg1 {
	@extend .msg;
	display: none;
}
/*----------------commentaires---------------------------------*/

div[id^='repondre_']{display: none;}
.hidden { display: none;}




