@import "_valeursGlobales.scss";

.nav {
	width: 100vw;
	height: 80px;
	@include gradient(map-get($colors, color1), map-get($colors, color2));
	color: white;
	position: -webkit-sticky;
  	position: sticky;
  	top: -1px;
  	z-index: 3;
}


#logo {font: map-get($fonts, logo);
			text-decoration: none;
			color: white;
			display: block;
			float: left;
			margin-left: 0.5em;
	}


#mobile_menu {
	position: absolute;
	top: 20px;
	right: 10%;
	cursor: pointer;
		//le pop up menu
	&+div {display: none;
	width: 100vw;
	height: 100vh;
	@include gradient(map-get($colors, darkblue), map-get($colors, lightblue));
	position: absolute;
	top: 80px;
	 .menu * { // les sous menus
			display: block;
			text-align: center;
			padding: 0.5em;
			color: white;
			font-size: 1.2em;
			text-decoration: none;
			#user_icon { margin: auto;
					border-radius: 35px;
					}
	}	
	#lang { position: relative;
		top: 80vh;}
	}
	span { // le burger menu
		display: block;
	    width: 40px;
	    height: 5px;
	    margin-bottom: 5px;
	    background-color: white;
	    border-radius: 3px;
	    position: relative;
	    -webkit-transition: 0.7s;
	    transition: 0.7s;
	    -moz-transition: 0.7s;
	    z-index: 1;
		}	
}


/*--------------- PAGE INDEX -----------------------*/
header {
	h1 {
		padding-top: 20vh;
		color: white;
	}
	input[type=text] {
		width: 80vw;
		display: block;
		margin: auto;	
	}
}
/*------------------------------*/

.row {
	margin-top: 10vh;
	.col-3 { 
		width: 100vw;
		text-align: center;
		margin-top: 3em;
		img { width: 50vw;}
		span {
			display: block;
			padding: 1em;
			font-size: 1.1em;

		}
	}
}

/*--------------------- CLUB ------------------------------*/
/*
section {
	margin:  1em;
}
.revenir {
	color: black;
	display: block;
	padding-bottom: 1.3em;
}

.left {
	float: left;
	margin-top: 2em;
	margin-bottom: 2em;
	padding-left: 1em;
	p {margin-top: 2em;
	line-height: 1.4;
	}
}
	div:nth-child(4) {
	line-height: 1.6;
	}

.comments {
	width: 90vw;

 & > div {
	border-radius: 10px;
	border: 1px solid lightgrey;
	padding: 1em;
	margin: 1em;
	float: left;
	background-color: white;
	width: 75vw;
}
}


.bordered {
	border-radius: 10px;
	border: 1px solid lightgrey;
	padding: 1em;
	margin-top: 3em;
	margin-bottom: 3em;
	margin: 0.5em;
	float: left;
	width: 60vw;
}
*/
/*---------------------------------------------------*/
/*
footer {
	width: 100vw;
	height: 50vh;
	display: flex;
	bottom: 0;
	@include gradient(map-get($colors, darkblue), map-get($colors, lightblue));
	z-index: 3;
}
*/