/*----------------------------------------*/
/*----------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Caveat|Montserrat:400,500,500i,900");
/*----------------------------------------*/
/*----------------------------------------*/
.nav {
  width: 100vw;
  height: 80px;
  background: #FFAF44;
  /* Old browsers */
  background: -moz-linear-gradient(left, #FFAF44 0%, #AA2E00 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #FFAF44 0%, #AA2E00 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #FFAF44 0%, #AA2E00 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=1 );
  /* IE6-9 */
  color: white;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 3; }

#logo {
  font: 3em Caveat, sans-serif;
  text-decoration: none;
  color: white;
  display: block;
  float: left;
  margin-left: 0.5em; }

#mobile_menu {
  position: absolute;
  top: 20px;
  right: 10%;
  cursor: pointer; }
  #mobile_menu + div {
    display: none;
    width: 100vw;
    height: 100vh;
    background: #119DA4;
    /* Old browsers */
    background: -moz-linear-gradient(left, #119DA4 0%, #0D5C63 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #119DA4 0%, #0D5C63 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #119DA4 0%, #0D5C63 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=1 );
    /* IE6-9 */
    position: absolute;
    top: 80px; }
    #mobile_menu + div .menu * {
      display: block;
      text-align: center;
      padding: 0.5em;
      color: white;
      font-size: 1.2em;
      text-decoration: none; }
      #mobile_menu + div .menu * #user_icon {
        margin: auto;
        border-radius: 35px; }
    #mobile_menu + div #lang {
      position: relative;
      top: 80vh; }
  #mobile_menu span {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 5px;
    background-color: white;
    border-radius: 3px;
    position: relative;
    -webkit-transition: 0.7s;
    transition: 0.7s;
    -moz-transition: 0.7s;
    z-index: 1; }

/*--------------- PAGE INDEX -----------------------*/
header h1 {
  padding-top: 20vh;
  color: white; }
header input[type=text] {
  width: 80vw;
  display: block;
  margin: auto; }

/*------------------------------*/
.row {
  margin-top: 10vh; }
  .row .col-3 {
    width: 100vw;
    text-align: center;
    margin-top: 3em; }
    .row .col-3 img {
      width: 50vw; }
    .row .col-3 span {
      display: block;
      padding: 1em;
      font-size: 1.1em; }

/*--------------------- CLUB ------------------------------*/
/*
section {
	margin:  1em;
}
.revenir {
	color: black;
	display: block;
	padding-bottom: 1.3em;
}

.left {
	float: left;
	margin-top: 2em;
	margin-bottom: 2em;
	padding-left: 1em;
	p {margin-top: 2em;
	line-height: 1.4;
	}
}
	div:nth-child(4) {
	line-height: 1.6;
	}

.comments {
	width: 90vw;

 & > div {
	border-radius: 10px;
	border: 1px solid lightgrey;
	padding: 1em;
	margin: 1em;
	float: left;
	background-color: white;
	width: 75vw;
}
}


.bordered {
	border-radius: 10px;
	border: 1px solid lightgrey;
	padding: 1em;
	margin-top: 3em;
	margin-bottom: 3em;
	margin: 0.5em;
	float: left;
	width: 60vw;
}
*/
/*---------------------------------------------------*/
/*
footer {
	width: 100vw;
	height: 50vh;
	display: flex;
	bottom: 0;
	@include gradient(map-get($colors, darkblue), map-get($colors, lightblue));
	z-index: 3;
}
*/
